// Specification

@import 'reset', 'animation';

$trans: 0.3s;

%bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@mixin transition($prop, $anim) {
  transition: $prop $trans $anim;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #fff;
  // overflow: hidden;
}

h1,h2,h3,span {
  font-weight: 700;
}

h1 {
  font-size: 45px;
  margin-bottom: 16px;
  text-shadow: 0 0 black;
  @media screen and (min-width: 768px) {
    font-size: 60px;
  }
}

h2 {
  font-size: 40px;
  @media screen and (min-width: 768px) {
    font-size: 46px;
  }
}

h3 {
  font-size: 30px;
  @media screen and (min-width: 768px) {
    font-size: 35px;
  }
}

p {
  font-size: 20px;
  line-height: 30px;
  text-shadow: 0 0 black;
  @media screen and (min-width: 768px) {
    font-size: 25px;
  }
}

span,a {
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 16px;
  @media screen and (min-width: 768px) {
    padding: 0 30px;
  }
}

.ham_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  width: 40px;
  height: 40px;
  background: none;
  z-index: 1000;
  position: relative;
  span {
    background: #fff;
    border-radius: 8px;
    position: absolute;
    width: 100%;
    height: 5px;
    transition: top $trans ease-in-out 0.4s, transform 0.4s ease-in-out, opacity $trans ease-in-out $trans, left $trans ease-in-out;
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2), &:nth-child(4) {
      top: 12px;
    }
    &:nth-child(3) {
      top: 24px;
    }
  }
  &.open {
    span {
      &:nth-child(1) {
        top: 12px;
        transform: rotate((360+45) + 0deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        top: 12px;
        transform: rotate((360-45) + 0deg);
      }
    }
  }
  @media screen and (min-width: 1024px) {
    display: none;
  }
}

// Weather Conditions

.forecast {
  padding: 30px 0;
  position: relative;
  z-index: 100;
  @include transition(background, ease);
  @media screen and (min-width: 360px) {
    height: 100vh;
  }
  @media screen and (min-width: 768px) {
    padding: 50px 0;
  }

  // Sunny Weather
  &.sunny {
    background: linear-gradient(180deg, #7CB8FF 0%, #DFFFFB 125%);
    .weather__icon {
      border-radius: 50%;
      background: #FED100;
    }
    .md_cloud {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  // Snow
  &.snowy {
    background: linear-gradient(180deg, #347BCF 0%, #97c1ff 56.77%);
  }

  // Sunset Weather
  &.sunset {
    background: linear-gradient(180deg, #304865 0%, #6C7A8A 0.01%, #E7AF7B 100%);
    .weather__icon {
      border-radius: 50%;
      background: linear-gradient(135deg, #FED100 3.21%, #E36001 85.28%);;
    }
    .cloud_1 {
      .shape {
        background: #6A6661;
        &:after,
        &:before {
          background: #6A6661;
        }
      }
    }
    .cloud_2,.cloud_3 {
      .shape {
        background: #977272;
        &:after,
        &:before {
          background: #977272;
        }
      }
    }
    .city__list_item {
      background: #977272;
      &:hover {
        background: #6A6661;
      }
    }
    .search__input {
      background: #fff;
      color: #977272;
      &::placeholder {
        color: #977272;
      }
    }
    
  }

  // Rainy Weather
  &.rainy {
    background: linear-gradient(180deg, #969696 0%, #DFFFFB 100%);
    .weather__icon {
      display: none;
    }
    .cloud_1 {
      .shape {
        background: #8D8989;
        &:after,
        &:before {
          background: #8D8989;
        }
      }
    }
    .cloud_2,.cloud_3 {
      .shape {
        background: #9F9F9F;
        &:after,
        &:before {
          background: #9F9F9F;
        }
      }
    }
    .city__list_item {
      background: rgba($color: #225641, $alpha: 0.6);
      &:hover {
        background: rgba($color: #225641, $alpha: 1);
      }
    }
  }

  // Night Weather
  &.night {
    background:  linear-gradient(180deg, #2E3338 0.01%, #28436B 100%);
    .weather__icon{
      background-image: url("data:image/svg+xml,%3Csvg width='119' height='119' viewBox='0 0 119 119' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='59.5' cy='59.5' r='59.5' fill='%23FFF9BF'/%3E%3Ccircle cx='33.0556' cy='29.7498' r='6.61111' fill='%23D9D4A8'/%3E%3Cellipse cx='46.2778' cy='16.5277' rx='3.30556' ry='3.30556' fill='%23D9D4A8'/%3E%3Ccircle cx='71.0694' cy='28.0972' r='14.875' fill='%23D9D4A8'/%3E%3C/svg%3E");
    }
    .shape {
      background: #151D28;
      box-shadow: none;
      &:after,
      &:before {
        background: #151D28;
      }
    }
    .stars {
      opacity: 1;
      visibility: visible;
    }
    .search {
      background: linear-gradient(252.44deg, rgb(41 64 97) 0%, rgb(255 255 255 / 0%) 100%);
    }
    .search__input {
      background: #fff;
    }
    .search__btn {
      background-color: #bbe8ff;
    }
  }
}

// Stars

.stars {
  position: absolute;
  transition: opacity $trans ease, visibility $trans ease;
  opacity: 0;
  visibility: hidden;
  left: 32rem;
  top: 5rem;
  z-index: -1;
}

// Main Content

.date__info {
  text-shadow: 0 0 black;
  margin-bottom: 36px;
  @media screen and (min-width: 768px) {
    margin-bottom: 76px;
  }
}

.calendar_day {
  margin-top: 8px;
}

.city__info {
  margin-bottom: 80px;
}

.weather__icon {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 8rem;
  right: 3rem;
  z-index: 5;
  @extend %bg;
  @media screen and (min-width: 640px) {
    right: 12rem;
  }
  @media screen and (min-width: 768px) {
    width: 136px;
    height: 136px;
  }
  @media screen and (min-width: 1024px) {
    right: 40rem;
  }
  @media screen and (min-width: 1280px) {
    right: 46rem;
  }
  @media screen and (min-width: 1536px) {
    right: 56rem;
  }
}

.forecast__info {
  margin: 30px 0 40px;
  h2 {
    margin-bottom: 5px;
  }
}

.feels__item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    margin-bottom: 70px;
  }
}

.feels_like {
  font-size: 40px;
  display: flex;
  align-items: center;
  &::before {
    content: "";
    display: block;
    width: 44px;
    height: 1px;
    background: #fff;
    margin: 0 20px; 
  }
}

.weather__details {
  display: flex;
  gap: 32px;
  font-size: 16px;
  @media screen and (min-width: 768px) {
    font-size: 20px;
    gap: 80px;
  }
}

.details__item {
  display: grid;
  justify-items: center;
  &::before {
    content: "";
    display: block;
    @extend %bg;
    height: 48px;
    max-width: 45%;
    @media screen and (min-width: 768px) {
      max-width: 100%;
    }
  }
  &.humidity::before{
    width: 34px;
    background-image: url("data:image/svg+xml,%3Csvg width='62' height='80' viewBox='0 0 62 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 49.0538C0 45.3738 1.00405 41.15 3.01215 36.3826C5.02024 31.6153 7.61404 26.9733 10.7935 22.5405C17.3198 13.9258 23.0094 7.40198 27.7787 3.01098L30.9163 0C31.9622 1.0873 33.1336 2.09096 34.3887 3.01098C36.1039 4.76738 38.7395 7.6529 42.2537 11.7512C45.7679 15.8495 48.8219 19.4877 51.332 22.8332C54.3023 27.057 56.8543 31.6153 58.9042 36.4245C60.9541 41.2337 62 45.4574 62 49.0957C62 53.2776 61.2051 57.2504 59.5736 61.0559C57.942 64.8615 55.7665 68.1652 53.0054 70.9252C50.2443 73.6853 46.9393 75.9017 43.0904 77.5327C39.2416 79.1636 35.1835 80 30.9163 80C26.7328 80 22.7584 79.2054 18.9514 77.6163C15.1444 76.0272 11.8394 73.8944 9.07827 71.1343C6.31714 68.4161 4.09986 65.1124 2.46828 61.3068C0.836706 57.5013 0 53.403 0 49.0538V49.0538ZM9.45479 36.8008C9.45479 40.2718 10.166 43.0319 11.6302 45.1228C13.0945 47.172 15.3117 48.2175 18.2821 48.2175C21.2942 48.2175 23.5115 47.172 25.0175 45.1228C26.4818 43.0737 27.2348 40.3136 27.2767 36.8008C27.2348 33.288 26.4818 30.528 25.0175 28.437C23.5533 26.3879 21.2942 25.3424 18.2821 25.3424C15.3117 25.3424 13.0945 26.3879 11.6302 28.437C10.166 30.528 9.45479 33.288 9.45479 36.8008V36.8008ZM16.0229 36.8008V35.3372C16.0229 35.0026 16.0648 34.5426 16.1066 33.9571C16.1484 33.3717 16.1903 32.9117 16.3158 32.6189C16.4413 32.3262 16.525 31.9498 16.6923 31.6153C16.8597 31.2807 17.0688 30.988 17.3198 30.8625C17.6127 30.6952 17.9055 30.6116 18.2821 30.6116C18.8677 30.6116 19.3279 30.7789 19.6626 31.1134C19.9973 31.448 20.2483 31.9916 20.3738 32.7026C20.4993 33.4553 20.583 34.0408 20.6248 34.5844C20.6667 35.1281 20.6667 35.839 20.6667 36.759C20.6667 37.7209 20.6667 38.4318 20.6248 38.9336C20.583 39.4354 20.4993 40.0627 20.3738 40.8155C20.2483 41.5264 19.9973 42.07 19.6626 42.4046C19.3279 42.7392 18.8677 42.9064 18.2821 42.9064C17.9055 42.9064 17.6127 42.8228 17.3198 42.6555C17.0268 42.4883 16.804 42.221 16.6923 41.9028C16.525 41.5682 16.3995 41.1918 16.3158 40.8991C16.2321 40.5646 16.1484 40.1045 16.1066 39.5609C16.0648 38.9754 16.0229 38.5154 16.0229 38.2227V36.8008V36.8008ZM18.4912 69.2107H24.0135L44.8893 24.2969H39.2416L18.4912 69.2107V69.2107ZM36.4804 56.7067C36.5223 60.2195 37.3171 62.9796 38.7814 65.0706C40.2456 67.1197 42.5047 68.1652 45.475 68.1652C48.4872 68.1652 50.7045 67.1197 52.1687 65.0706C53.6329 63.0214 54.3441 60.2195 54.386 56.7067C54.3441 53.1939 53.6329 50.4339 52.1687 48.3847C50.7045 46.3356 48.4872 45.2901 45.475 45.2901C42.5047 45.2901 40.2456 46.3356 38.7814 48.3847C37.2753 50.4339 36.5223 53.1939 36.4804 56.7067ZM43.0486 56.7067C43.0486 55.7449 43.0486 55.034 43.0904 54.5321C43.1323 54.0303 43.2159 53.403 43.3414 52.6503C43.4669 51.8975 43.718 51.3957 44.0526 51.0612C44.3873 50.7266 44.8475 50.5593 45.4332 50.5593C45.8097 50.5593 46.1444 50.643 46.4373 50.8102C46.7301 50.9775 46.9393 51.2284 47.1066 51.6048C47.274 51.9812 47.3995 52.3157 47.525 52.6085C47.6505 52.9012 47.6923 53.3612 47.7341 53.9467L47.776 55.2849V58.1704L47.7341 59.5086L47.525 60.8468L47.1066 61.8505L46.4373 62.6451L45.4332 62.896C44.8475 62.896 44.3873 62.7287 44.0526 62.3941C43.718 62.0596 43.4669 61.5159 43.3414 60.805C43.2159 60.0523 43.1323 59.425 43.0904 58.9231C43.0486 58.4213 43.0486 57.6686 43.0486 56.7067Z' fill='white'/%3E%3C/svg%3E");
  }
  &.pressure::before{
    width: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='68' height='81' viewBox='0 0 68 81' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M57.4752 38.5114C55.208 49.2868 45.56 57.3826 34 57.3826C22.44 57.3826 12.792 49.2868 10.5248 38.5114H21.8912C22.4288 40.7777 23.5984 42.8016 25.2048 44.3916C27.4544 46.6199 30.5648 47.9993 34.0016 47.9993C37.152 47.9993 40.0432 46.8194 42.2496 44.8762C42.4384 44.7274 42.6208 44.5658 42.7968 44.3916C44.4032 42.8016 45.5728 40.7777 46.1104 38.5114H57.4752ZM11.528 71.5359H29.8832V67.0509C22.1408 66.1261 15.1984 62.6261 9.96 57.4396C3.8048 51.3488 0 42.9347 0 33.6416C0 24.3502 3.8048 15.9377 9.96 9.84682C12.0752 7.75319 14.4512 5.84802 17.0528 4.31977C26.9552 -1.49709 41.4592 -1.44641 51.2864 4.51456C53.7568 6.01273 56.0192 7.84346 58.0416 9.84682C64.1952 15.9377 68 24.3502 68 33.6432C68 42.9347 64.1952 51.3488 58.0416 57.4396C52.8016 62.6261 45.8592 66.1261 38.1152 67.0509V71.5359H56.4704C59.6416 71.5359 62.2336 74.1126 62.2336 77.2403V81H5.7648V77.2403C5.7648 74.1015 8.3584 71.5359 11.528 71.5359V71.5359ZM34 5.11478C49.9216 5.11478 62.8272 17.8887 62.8272 33.648C62.8272 49.4056 49.9216 62.1811 34 62.1811C18.0784 62.1811 5.1728 49.4056 5.1728 33.648C5.1728 17.8887 18.0784 5.11478 34 5.11478V5.11478ZM20.2736 14.118C19.8 13.3072 20.0784 12.2698 20.896 11.7995C21.7152 11.3307 22.7632 11.6079 23.2368 12.4171L25.3792 16.0881C25.8528 16.8974 25.5744 17.9363 24.7552 18.405C23.9376 18.8738 22.888 18.5982 22.4144 17.789L20.2736 14.118V14.118ZM12.2944 23.6613C11.4768 23.1972 11.1936 22.1615 11.664 21.3507C12.1328 20.5414 13.1792 20.2627 13.9968 20.7267L17.7056 22.8457C18.5232 23.3097 18.8064 24.3454 18.336 25.1563C17.8672 25.9655 16.8208 26.2442 16.0032 25.7802L12.2944 23.6613ZM54.0032 19.7702C54.8208 19.3061 55.8672 19.5849 56.336 20.3941C56.8064 21.205 56.5232 22.2407 55.7056 22.7047L51.9968 24.8237C51.1792 25.2877 50.1328 25.009 49.664 24.1997C49.1936 23.3889 49.4768 22.3531 50.2944 21.8891L54.0032 19.7702ZM44.3536 11.8723C44.8224 11.0631 45.8688 10.7844 46.6864 11.2484C47.5056 11.7124 47.7872 12.7481 47.3184 13.559L45.1776 17.2284C44.7072 18.0376 43.6624 18.3179 42.8432 17.8523C42.0256 17.3883 41.744 16.3526 42.2128 15.5433L44.3536 11.8723ZM32.0048 9.79772C32.0048 8.86018 32.7728 8.09843 33.72 8.09843C34.6688 8.09843 35.4368 8.86018 35.4368 9.79772V14.0372C35.4368 14.9748 34.6688 15.7365 33.72 15.7365C32.7728 15.7365 32.0048 14.9748 32.0048 14.0372V9.79772ZM36.7328 30.658C38.5376 31.6208 39.7664 33.5118 39.7664 35.6861C39.7664 38.8377 37.1856 41.3921 34.0016 41.3921C30.8176 41.3921 28.2352 38.8377 28.2352 35.6861C28.2352 33.5118 29.464 31.6208 31.272 30.658V21.6991L34.0016 18.9973L36.7328 21.6991V30.658Z' fill='white'/%3E%3C/svg%3E");
  }
  &.wind::before{
    width: 50px;
    background-image: url("data:image/svg+xml,%3Csvg width='76' height='76' viewBox='0 0 76 76' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M59.375 4.75L56.0168 8.10825L62.1585 14.25H50.0698C44.9326 14.2459 39.8422 15.2262 35.074 17.138L24.9114 21.2016C20.7059 22.8884 16.2161 23.7534 11.685 23.75H4.75V28.5H11.6803C16.8174 28.5041 21.9078 27.5238 26.676 25.612L36.8386 21.5484C41.0441 19.8616 45.5339 18.9966 50.065 19H62.1538L56.012 25.1418L59.375 28.5L71.25 16.625L59.375 4.75Z' fill='white'/%3E%3Cpath d='M49.875 26.125L46.5168 29.4832L52.6585 35.625H44.8923C40.0497 35.6222 35.2465 36.4935 30.7135 38.1971L24.6193 40.4819C20.62 41.9845 16.3823 42.7529 12.1101 42.75H4.75V47.5H12.1101C16.9518 47.5025 21.7543 46.6312 26.2865 44.9279L32.3807 42.6431C36.38 41.1405 40.6176 40.3721 44.8899 40.375H52.6561L46.5168 46.5168L49.875 49.875L61.75 38L49.875 26.125Z' fill='white'/%3E%3Cpath d='M40.375 47.5L37.0168 50.8582L43.1585 57H39.4179C35.0774 56.9989 30.7652 57.6982 26.6475 59.071L24.0991 59.9212C20.4663 61.1331 16.6617 61.7506 12.8321 61.75H4.75V66.5H12.8321C17.1726 66.5011 21.4848 65.8018 25.6025 64.429L28.1509 63.5788C31.7837 62.3669 35.5883 61.7494 39.4179 61.75H43.1585L37.0168 67.8918L40.375 71.25L52.25 59.375L40.375 47.5Z' fill='white'/%3E%3C/svg%3E");
  }
  
}

.details__name {
  margin-top: 15px;
  font-weight: 400;
  &::after {
    content: '';
    display: block;
    width: 44px;
    height: 1px;
    background:  #FFF;
    margin: 18px auto;
  }
}

// Search Section

.search {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  padding: 100px 20px;
  -webkit-backdrop-filter: blur(40px);
  -moz-backdrop-filter: blur(40px);
  -o-backdrop-filter: blur(40px);
  -ms-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  z-index: 999;
  background: linear-gradient(252.44deg, rgba(239, 255, 253, 0.7) 0%, rgba(239, 255, 253, 0) 100%);
  visibility: hidden;
  right: -100%;
  transition: right $trans ease, visibility $trans ease;
  &.show {
    visibility: visible;
    right: 0;
  }
  @media screen and (min-width: 480px) {
    padding: 100px 50px;
  }
  @media screen and (min-width: 640px) {
    padding: 100px 60px;
    max-width: 460px;
    border-radius: 5% 0 0 0;
  }
  @media screen and (min-width: 768px) {
    padding: 120px 60px;
  }
  @media screen and (min-width: 1024px) {
    visibility: visible;
    right: 0;
    padding-top: 50px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 550px;
  }
}

.search__item {
  position: relative;
  display: flex;
  margin-bottom: 100px;
}

.search__input {
  height: 50px;
  border-radius: 18px 0 0 18px;
  width: 100%;
  padding-left: 20px;
  font-size: 15px;
  color: #64729A;
  background: linear-gradient(269.42deg, #F2FBFF -1.71%, rgba(242, 251, 255, 0.3) 100%);
  @include transition(border, ease);
  &::placeholder {
    font-size: 15px;
    color: #64729A;
  }
  &.error {
    border: 1px solid #E24A62;
  }
}

.search__btn {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.5665 12.9458C9.6408 12.9458 12.133 10.2717 12.133 6.97291C12.133 3.67416 9.6408 1 6.5665 1C3.49221 1 1 3.67416 1 6.97291C1 10.2717 3.49221 12.9458 6.5665 12.9458Z' stroke='%2397A0B9' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.0274 16.0519L10.8525 11.5723' stroke='%2397A0B9' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");  
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  height: 50px;
  width: 55px;
  border-radius: 0 18px 18px 0;
}

.error_message {
  color: #E24A62;
  position: absolute;
  font-size: 16px;
  top: 0;
  opacity: 0;
  left: 20px;
  @include transition(top, ease);
  @include transition(opacity, ease);
  &.show {
    top: -20px;
    opacity: 1;
  }
}

// List of cities

.city__list {
  display: grid;
  gap: 25px;
}

.city__list_item {
  height: 50px;
  border-radius: 18px;
  background: rgba($color: #0A7BE3, $alpha: 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  @include transition(background, ease);
  &:hover {
    background: rgba($color: #0A7BE3, $alpha: 1);
  }
}

.city_name {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}

.city_list_deg {
  font-size: 18px;
  color: #fff;
}